*
{
    box-sizing: border-box;
}
body
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header
{
    display: flex;
    justify-content: center;
    height: 125px;
    background-color: #ffffff;
}
.container
{
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo
{
    display: flex;

    width: 25%;
}
.puc
{
    height: 125px;
}
.titulo
{
    display: flex;
    width: 75%;
    font-size: 35px;
    align-items: center;
}

.menu
{
    width: 100%;
    background-color: black;
}
nav ul, nav li
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
nav ul
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a
{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
}
nav .active a, nav a:hover
{
    background-color: #50b6e9;
    color: #ffffff;
}
.corpo
{
    display: flex;
    justify-content: center;
    background-color: #50b6e9;
    background-size: cover;
    background-position: center;
    height: 1000px;
    align-items: center;
}
.corpo1
{
    display: flex;
    width: 990px;
    height: auto;
    background-color: #fdfbdf;
    flex-direction: column;

    
}
.descricao
{
    padding:10px;
    margin: 5px;
}
#titulo1
{
    font-size: 30px;
}
.descricao p
{
    font-size: 16px; ;
}
#bannerhome
{
    display: flex;
    justify-content: space-around;
}
#saibamais1, #saibamais2
{   
    margin: 15px;
    padding: 10px;
    width: 40%;
    height: 400px;
    background-color: rgb(248, 253, 239);
}
.rodape
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    height: 40px;
    background-color: rgb(201, 196, 247);
}
#bannerhome h1
{
    font-size: 28px;
}
#bannerhome p
{
    font-size: 16px;
}
#bannerhome a
{
    display: inline-block; 
    border: 1px solid #000000;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
}
.resume
{  
    margin: 15px;
    padding: 10px;
    width: 95%;
    height: 400px;
    background-color: rgb(239, 250, 218);
}
